.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#LivMargin, #LogId, #signMargin, #marginLivAdd, #marginHome, #marginPro, #margAddProj, .m{
  margin-top: 9%;
}

@media screen and (max-width: 768px) {
  #LivMargin, #LogId, #signMargin, #marginLivAdd, #marginHome, #marginPro, #margAddProj, .m{
    margin-top: 20%;
  }
}

.r>p, #grounButton{
  font-family: cursive;
  font-style: italic;
}

.r:hover{
  box-shadow: 1px 1px 1rem 7px rgba(43, 174, 104, 0.62);
  scale: 1.05;
  transition: 600ms;
}
#grounButton:hover{
  scale: 1.1;
  transition: 700ms;
}